## Token for the NOAA Geomagnetic Offset API. Currently all tokens use the value zNEwZ. Users do not need to change this parameter.
NOAA_GEOMAG_API_TOKEN=zNEw7

## Mapbox access token for loading data from MapBox
MAPBOX_ACCESS_TOKEN=

## Settings for Logging into the Partner API
USERNAME=
PASSWORD=
API_ENDPOINT=
VENDOR_ID=

## Allow connecting to API endpoints with self-signed certificates (development/testing only)
## Set to 'true' to enable, or leave empty to disable
ALLOW_INVALID_API_CERTIFICATE=

## Default App Registration location when registering with the ETX. This determines what ETX server the app will targets.
# This value also determines what default map location is shown in the App before a GPS position is retrieved
# Commonly used sample values for reference

# Turner Fairbanks
REGISTRATION_LATITUDE=38.9555
REGISTRATION_LONGITUDE=-77.1494

# Colorado
# REGISTRATION_LATITUDE= 39.58937188602476
# REGISTRATION_LONGITUDE= -105.0912699992925

# Atlanta
# REGISTRATION_LATITUDE= 34.05640313666031
# REGISTRATION_LONGITUDE= -84.2769675541679

# New York
# REGISTRATION_LATITUDE= 40.788188
# REGISTRATION_LONGITUDE= -74.163805

## If using a PC5 MQTT broker, the MQTT Broker may be manually specified here. This will automatically enable PC5 in the app.
# Leave empty, if PC5 will not be used by default.
# Value should be structured like a url for example mqtt://test.mosquitto.org:1883
PC5_MQTT_BROKER=

GPS_TYPE=mobile
## If using a remote GPS, the GPS server IP address, username, and password may be specified here.
GPS_USERNAME=neaera
GPS_PASSWORD=Neaera_Dev25
GPS_IP=167.20.208.79
## If using OBU GPS, the OBU IP address may be specified here.
OBU_IP=

## Default App Broadcast Rate - Rates should be between 1 and 10 Hz. Values outside this range will be capped.
BROADCAST_RATE=10

## Tolling Settings
TOLLING_ENABLED=true
SHOW_TIMS=true
DISABLE_TUM_RETRY=false

### Settings Page View - These settings define which settings will appear under the settings page in the application.
## Account
SHOW_BASE_URI=false
SHOW_DEVICE_ID=false
## Configuration
# GPS Modes - at least one GPS type must be shown for the app to function properly
MOBILE_GPS_ALLOWED=true
CRADLE_GPS_ALLOWED=false
OBU_GPS_ALLOWED=false
PATH_GPS_ALLOWED=false

SHOW_BROADCAST_RATE=false

#Brokers
SHOW_PC5_BROKER=false
SHOW_ISS_BROKER=false
SHOW_ISS_BROKER_URL=false
SHOW_ETX_BROKER=false

SHOW_MANUAL_REGISTRATION=false
SHOW_VZ_MODE=false
SHOW_DEMO_MODE=false
SHOW_SIGNING=false
SHOW_DISABLE_TUM_RETRY=false

## Appearance
SHOW_TOLLING_SETTINGS=false
SHOW_TIMS_SETTINGS=false

## App Branding Settings
APP_NAME=V2X Mobile App
LOGO_PATH=assets/images/Default/logo.png
LOAD_PAGE_PATH=assets/images/Default/load_page.png

## Color Settings - These settings are used to customize the color scheme of the app. Colors should be input as hex values in ARGB format (ex. 0xFF000000 for black).
LIGHT_BACKGROUND_COLOR=0xFFF0F3F7
DARK_BACKGROUND_COLOR=0xFF010E1F

PRIMARY_COLOR=0xFF0F2F76
DARK_PRIMARY_COLOR=0xFF0F2F76

SELECTED_COLOR=0xFF2D4A8A
DARK_SELECTED_COLOR=0xFF2D4A8A
DISABLED_COLOR=0xFF868686
DARK_DISABLED_COLOR=0xFF333333

TEXT_PRIMARY_COLOR=0xFF000000
DARK_TEXT_PRIMARY_COLOR=0xFFFFFFFF

LIGHT_GREY=0xFFD1D7E0
MEDIUM_GREY=0xFF909EB0
DARK_GREY=0xFF4B5D75

